services:
  spark-worker:
    build: .
    container_name: spark-worker
    env_file:
      - .env
    ports:
      - "8081:8081"  # interface web do worker
    networks:
      - spark-network
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  spark-network:
    external: true
    name: spark-network