services:
  spark-worker:
    build: .
    container_name: spark-worker
    env_file:
      - .env
    ports:
      - "${SPARK_WORKER_WEBUI_PORT}:${SPARK_WORKER_WEBUI_PORT}"
    networks:
      - spark-network
    environment:
      - SPARK_MASTER_URL=${SPARK_MASTER_URL}
      - SPARK_WORKER_WEBUI_PORT=${SPARK_WORKER_WEBUI_PORT}
    extra_hosts:
      - "${SPARK_MASTER_HOST}:${SPARK_MASTER_HOST}"
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  spark-network:
    external: true
    name: spark-network