services:
  spark-master:
    build: .
    container_name: spark-master
    hostname: spark-master
    env_file:
      - .env
    ports:
      - "7077:7077"
      - "8080:8080"
      - "4040:4040"
      - "35000-35100:35000-35100"  # Range de portas para driver e block manager
    volumes:
      - ./apps:/apps
    networks:
      spark-network:
        aliases:
          - spark-master
    environment:
      - SPARK_MASTER_HOST=0.0.0.0
      - SPARK_MASTER_PORT=7077
    extra_hosts:
      - "spark-master:192.168.1.7"

networks:
  spark-network:
    external: true
    name: spark-network